<h1>#<%= @project.title %></h1>
<div id="messages" data-project-id="<%= @project.id %>">
  <% @project.messages.each do |message| %>
  <%= render "message", message: message%>
  <% end %>
</div>

<%= simple_form_for [ @project, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message #{@project.title} group" %>
  <%= f.submit%>
<% end %>
