<div class="chatroom">
  <div class="navbar-top-back">
    <h5><i class="fas fa-chevron-left mr-1"></i> <%= link_to "Back", inbox_path, class: "navbar-brand" %>  <%= @project.title %> Chat Room</h5>
  </div>

  <div id="messages" data-project-id="<%= @project.id %>">
    <% @project.messages.each do |message| %>
    <%= render "message", message: message%>
    <% end %>
  </div>

    <div class="search-form-control">
      <%= simple_form_for [ @project, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message..." %>
      <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-arrow-circle-up"></i></button>
      <%# <%= f.submit %>
      <% end %>
    </div>

</div>
