<div class="container mt-4">
  <h2 class="p-title" style="text-align: center;"> Forgot your password? </h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="create-project-button">
      <%= f.button :submit, "Reset password", class: "btn btn-outline-secondary mb-4 d-center" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

<%= render "shared/footer" %>
