<div class="navbar">

  <% if controller_name == "projects" && action_name == "index" %>
    <div class="icon">
      <%= link_to root_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class = "fas fa-search" style="color: #CE326A"></i>
        <p class="text" style="color: #CE326A">Home</p>
      <% end %>
    </div>
  <% elsif controller_name == "projects" && action_name == "show" && !user_signed_in? %>
    <div class="icon">
      <%= link_to new_project_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="fas fa-globe-asia" style="color: #CE326A"></i>
        <p class="text" style="color: #CE326A">Explore</p>
      <% end %>
    </div>
  <% else %>
    <div class="icon">
      <%= link_to projects_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class = "fas fa-search"></i>
        <p class="text">Explore</p>
      <% end %>
    </div>
  <% end %>


  <% if controller_name == "pages" && action_name == "dashboard" %>
    <div class="icon">
      <%= link_to dashboard_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="fas fa-heart" style="color: #CE326A"></i>
        <p class="text" style="color: #CE326A">My page</p>
      <% end %>
    </div>
  <% elsif controller_name == "projects" && action_name == "show" && user_signed_in? %>
    <div class="icon">
      <%= link_to new_project_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="fas fa-globe-asia" style="color: #CE326A"></i>
        <p class="text" style="color: #CE326A">My page</p>
      <% end %>
    </div>
  <% elsif controller_name == "users" && action_name == "show" && user_signed_in? %>
    <div class="icon">
      <%= link_to users_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="fas fa-globe-asia" style="color: #CE326A"></i>
        <p class="text" style="color: #CE326A">My page</p>
      <% end %>
    </div>
  <% else %>
    <div class="icon">
      <%= link_to dashboard_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="far fa-heart"></i>
        <p class="text">My page</p>
      <% end %>
    </div>
  <% end %>

  <% if controller_name == "projects" && action_name == "about" %>
    <div class="icon">
      <%= link_to about_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="fas fa-globe-asia" style="color: #CE326A"></i>
        <p class="text" style="color: #CE326A">Projects</p>
      <% end %>
    </div>
  <% elsif controller_name == "projects" && action_name == "new" %>
    <div class="icon">
      <%= link_to about_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="fas fa-globe-asia" style="color: #CE326A"></i>
        <p class="text" style="color: #CE326A">Projects</p>
      <% end %>
    </div>
  <% elsif %>
    <div class="icon">
      <%= link_to about_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="fas fa-globe-asia"></i>
        <p class="text">Projects</p>
      <% end %>
    </div>
  <% end %>


  <% if controller_name == "messages" && action_name == "index" && user_signed_in?  %>
    <div class="icon">
      <%= link_to project_messages_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="far fa-comment-alt"></i>
        <p class="text">Inbox</p>
      <% end %>
    </div>
  <% else%>
    <div class="icon">
      <%= link_to "#", method: :get, class: "navbar-link text-dark text-decoration-none" do %>
        <i class="far fa-comment-alt"></i>
        <p class="text">Inbox</p>
      <% end %>
    </div>
  <% end %>


  <% if user_signed_in? %>
    <% if controller_name == "pages" && action_name == "profile" %>
      <div class="icon">
        <%= link_to profile_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
          <i class="far fa-user-circle" style="color: #CE326A"></i>
          <p class="text" style="color: #CE326A">Profile</p>
        <% end %>
      </div>
    <% elsif controller_name == "registrations" && action_name == "edit" %>
      <div class="icon">
        <%= link_to edit_user_registration_path, method: :get , class: "navbar-link text-dark text-decoration-none" do %>
          <i class="far fa-user-circle" style="color: #CE326A"></i>
          <p class="text" style="color: #CE326A">Profile</p>
        <% end %>
      </div>
    <% elsif %>
      <div class="icon">
        <%= link_to profile_path, method: :get, class: "navbar-link text-dark text-decoration-none" do %>
          <i class="far fa-user-circle"></i>
          <p class="text">Profile</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if controller_name == "sessions" && action_name == "new" %>
      <div class="icon">
        <%= link_to new_user_session_path, method: :get , class: "navbar-link text-dark text-decoration-none" do %>
          <i class="far fa-user-circle" style="color: #CE326A"></i>
          <p class="text" style="color: #CE326A">Log in</p>
        <% end %>
      </div>
    <% else %>
      <div class="icon">
        <%= link_to new_user_session_path, method: :get , class: "navbar-link text-dark text-decoration-none" do %>
          <i class="far fa-user-circle"></i>
          <p class="text">Log in</p>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>
