<div class="navbar">
  <div class="icon">
    <% if controller_name == "projects" %>
      <%= link_to root_path, method: :get, class: "navbar-link" do %>
        <i class = "fas fa-search"></i>
        <p class="text">Home</p>
      <% end %>
    <% else %>
      <%= link_to projects_path, method: :get, class: "navbar-link" do %>
        <i class = "fas fa-search"></i>
        <p class="text">Explore</p>
      <% end %>
    <% end %>
  </div>
  <div class="icon">
    <%= link_to dashboard_path, method: :get, class: "navbar-link" do %>
      <i class="far fa-heart"></i>
      <p class="text">My page</p>
    <% end %>
  </div>
  <div class="icon">
    <%= link_to new_project_path, method: :get, class: "navbar-link" do %>
      <i class="fas fa-globe-asia"></i>
      <p class="text">Projects</p>
    <% end %>
  </div>
  <div class="icon">
    <%= link_to "#", method: :get, class: "navbar-link" do %>
      <i class="far fa-comment-alt"></i>
      <p class="text">Inbox</p>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <%# <% if @current_user.present? %>
    <div class="icon">
      <%= link_to profile_path(current_user), method: :get, class: "navbar-link" do %>
        <i class="far fa-user-circle"></i>
        <p class="text">Profile</p>
      <% end %>
    </div>
  <% else %>
    <div class="icon">
      <%= link_to new_user_session_path, method: :get , class: "navbar-link" do %>
        <i class="far fa-user-circle"></i>
        <p class="text">Log in</p>
      <% end %>
    </div>
  <% end %>
</div>
