<h1 class="title mt-3" style="text-align: center;">Dashboard</h1>

<%# my project column %>
<div class="container mb-2">
  <h2 class="title mb-2"> My Project </h2>
  <% if @my_projects.empty? %>
  <p>You don't have any project yet!</p>
  <% end %>
  <div class="row">
    <% @my_projects.each do |project| %>
      <div class="col-12">
        <div class="my-project-card-dashboard">
          <%= cl_image_tag(project.photos.key, class: "project-card-image-dashboard") %>
            <div class="project-card-info-dashboard">
              <h2><%= project.title %></h2>
              <p><%= project.description.truncate(48) %></p>
              <div class="project-card-actions-dashboard">
                <%= link_to 'More info', project_path(project) %>
                <%= link_to "Edit", edit_project_path(project) %>
                <%# if policy(project).destroy? %>
                <%= link_to "Delete","#", method: :delete, data: { confirm: "Are you sure you want to delete this project? You will delete all the related volunteers." } %>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# my volunteering column %>
<div class="container mb-2">
  <h2 class="title mb-2"> My Volunteering </h2>
  <% if @volunteer_projects.empty? %>
  <p>You don't have any volunteering project yet!</p>
  <% end %>
  <div class="row">
    <% @volunteer_projects.each do |project| %>
      <div class="col-12">
        <div class="my-project-card-dashboard">
          <%= cl_image_tag(project.photos.key, class: "project-card-image-dashboard") %>
          <div class="project-card-info-dashboard">
            <h2><%= project.title %></h2>
            <p><%= project.description.truncate(36) %></p>
            <div class="project-card-actions-dashboard">
              <%= link_to 'More info', project_path(project) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# my volunteers column %>
<div class="container mb-2">
  <h2 class="title mb-2"> Who Wants To Join </h2>
  <% if @my_volunteers.empty? %>
  <p>You don't have any volunteering project yet!</p>
  <% end %>
  <div class="row">
    <% @my_volunteers.each do |volunteer| %>
      <div class="col-12">
        <div class="my-project-card-dashboard">
          <% if volunteer.user.avatar.attached?%>
            <%= cl_image_tag volunteer.user.avatar.key, class: "project-card-image-dashboard"  %>
          <% else %>
            <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "project-card-image-dashboard") %>
          <% end %>
          <div class="project-card-info-dashboard">
            <h2><%= volunteer.user.first_name%></h2>
            <p><%= volunteer.user.about_me.truncate(36) %></p>
            <div class="project-card-actions-dashboard">
              <%# <%= link_to 'More info', profile_path(volunteer.user.id)%>
               <% if volunteer.status == "pending" %>
                  <%= link_to "Accept", volunteering_path(volunteer, status: "confirmed"), method: :patch, class: "btn btn-outline-secondary mr-2" %>
                  <%= link_to "Reject", volunteering_path(volunteer, status: "rejected"), method: :patch, class: "btn btn-outline-secondary" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
   <% end %>
  </div>
</div>
