<% if user_signed_in? %>
  <div class="navbar-top">
    <div class="navbar-top-info">
      <div class="navbar-top-back">
        <%# <p class="mb-0"> <i class="fas fa-chevron-left mr-1"></i> <%= link_to "Back", root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-top-dt">
        <div class="d-flex my-0 align-items-center">
          <div class="navbar-top-text">
            <p class="my-0"> <%= current_user.display_name %> </p>
            <p class="my-0"> <i class="fas fa-trophy", style="color: #F5A833"></i> <%= current_user.level %> </p>
          </div>
          <div class="navbar-top-avatar">
            <% if current_user.avatar.attached?%>
              <%= cl_image_tag current_user.avatar.key, class: "navbar-top-avatar-img" %>
            <% else %>
              <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "navbar-top-avatar-img") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<ul class="nav nav-tabs dashboard-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link dashboard-tab active" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="projecct" aria-selected="true">Projects</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link dashboard-tab" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="project-tab">
    <%# Projects %>
    <div class="container">
      <h2 class="title ml-3"> My Project </h2>
      <% if @my_projects.empty? %>
      <p class="d-text" style="text-align: center;">You don't have project yet!</p>
      <% end %>

      <div class="project-list">
        <div class="d-flex flex-wrap justify-content-center">
          <% @my_projects.each do |project| %>
            <%= link_to project_path(project), class: "text-dark text-decoration-none" do %>
              <div class="card-product mb-3 mt-3">
                <%= cl_image_tag project.photos.key, class: "card-product-img" %>
                <div class="card-product-infos">
                  <h2> <%= project.title %> </h2>
                  <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= project.location %> </p>
                  <p> <i class="fas fa-calendar-check" style="colot: #555255"></i> <%= project.start_date%> ~ <%= project.end_date%> </p>
                  <div class="project-status">
                    <% if project.volunteerings.size == 0 %>
                      <p> <i class="fas fa-users" style="color: #423D52" ></i> 0 </p>
                    <% else %>
                      <p> <i class="fas fa-users" style="color: #4C977B" ></i> <%= project.volunteerings.size %> <%= project.capacity ? "/ #{project.capacity}" : nil %> Confirmed </p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>



      <h2 class="title ml-3"> My Volunteering </h2>
      <% if @volunteer_projects.empty? %>
      <p class="d-text" style="text-align: center;">You haven't joined a project!</p>
      <% end %>
      <div class="project-list">
        <div class="d-flex flex-wrap justify-content-center">
          <% @volunteer_projects.each do |project| %>
            <%= link_to project_path(project), class: "text-dark text-decoration-none" do %>
              <div class="card-product">
                <%= cl_image_tag project.photos.key, class: "card-product-img" %>
                <div class="card-product-infos">
                  <h2> <%= project.title %> </h2>
                  <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= project.location %> </p>
                  <p> <i class="fas fa-calendar-check" style="colot: #555255"></i> <%= project.start_date%> ~ <%= project.end_date%> </p>
                  <div class="project-card-actions-dashboard">
                    <p class ="volunteer-status-<%= project.volunteerings.find_by(user: current_user).status %> font-weight-lighter">
                      <%= project.volunteerings.find_by(user: current_user).status %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="history-tab">
    <div class="container mb-2">
      <h2 class="title ml-3"> My Project </h2>
      <% if @my_past_projects.empty? %>
      <p class="d-text" style="text-align: center;">You haven't joined a project!</p>
      <% end %>
      <div class="project-list">
        <div class="d-flex flex-wrap justify-content-center">
          <% @my_past_projects.each do |project| %>
            <%= link_to project_path(project), class: "text-dark text-decoration-none" do%>
              <div class="card-product mb-3 mt-3">
                <%= cl_image_tag project.photos.key, class: "project-card-image-dashboard" %>
                <div class="card-product-infos">
                  <h2> <%= project.title %> </h2>
                  <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= project.location %> </p>
                  <p> <i class="fas fa-calendar-check" style="colot: #555255"></i> <%= project.start_date%> ~ <%= project.end_date%> </p>
                  <div class="project-status">
                    <% if  project.volunteerings.size == 0 %>
                      <p> <i class="fas fa-users" style="color: #423D52" ></i> 0 </p>
                    <% else %>
                      <p> <i class="fas fa-users" style="color: #4C977B" ></i> <%= project.volunteerings.size %> <%= project.capacity ? "/ #{project.capacity}" : nil %> Confirmed </p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container mb-2">
      <h2 class="title ml-3"> My Volunteering </h2>
      <% if @my_volunteer_past_projects.empty? %>
      <p class="d-text" style="text-align: center;">You haven't joined a project!</p>
      <% end %>
      <div class="project-list">
      <div class="d-flex flex-wrap justify-content-center">
        <% @my_volunteer_past_projects.each do |project| %>
          <%= link_to project_path(project), class: "text-dark text-decoration-none" do %>
            <div class="card-product mb-3 mt-3">
              <%= cl_image_tag project.photos.key, class: "card-product-img" %>
              <div class="card-product-infos">
                <h2> <%= project.title %> </h2>
                <p> <%= project.description.truncate(36) %> </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


  </div>
</div>

<%= render "shared/footer" %>
