<div>
  <div class="text-center mt-3">
    <% if current_user.avatar.attached?%>
      <%= cl_image_tag current_user.avatar.key, class: "navbar-top-avatar-img" %>
    <% else %>
      <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "navbar-top-avatar-img") %>
    <% end %>
  </div>
  <div class= "text-center mt-2">
    <p class="my-0"> <%= current_user.display_name %> </p>
    <p class="my-0"> <%= current_user.level %> pts</p>
  </div>
</div>

<div class="container">

  <div class="progress mr-3 ml-1 mt-5 text-center">

    <div class=" progress-bar bg-transparent" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">
      <div class= "<%= current_user.level < 25 ? "trophy" : "circle" %>-wrapper">
        <i class="fas <%= current_user.level < 25 ? "fa-trophy" : "fa-circle" %> text-right"></i>
      </div>
    </div>

    <div class="progress-bar <%= current_user.level < 25 ? "dimmed" : "bright"%>-bar" role="progressbar" style="width: 32%" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>

    <div class="progress-bar <%= current_user.level < 50 ? "dimmed" : "bright"%>-bar" role="progressbar" style="width: 32%" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">
      <div class= "<%= current_user.level < 50 && current_user.level >= 25 ? "trophy" : "circle" %>-wrapper">
        <i class="fas <%= current_user.level < 50 && current_user.level >= 25 ? "fa-trophy" : "fa-circle" %> text-right"></i>
      </div>
    </div>

    <div class="progress-bar <%= current_user.level < 100 ? "dimmed" : "bright"%>-bar" role="progressbar" style="width: 32%" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">
      <div class= "<%= current_user.level < 100 && current_user.level >= 50 ? "trophy" : "circle" %>-wrapper">
        <i class="fas <%= current_user.level < 100 && current_user.level >= 50 ? "fa-trophy" : "fa-circle" %> text-right"></i>
      </div>
    </div>

    <div class="progress-bar <%= current_user.level >= 100 ? "bright" : "dimmed"%>-bar" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">
      <div class= "<%= current_user.level >= 100 ? "trophy" : "circle" %>-wrapper">
        <i class="fas <%= current_user.level >= 100? "fa-trophy" : "fa-circle" %> text-right"></i>
      </div>
    </div>

  </div>


  <div class="progress  progress-transparent mr-3 ml-1 mt-5 mb-4 text-center">

    <div class=" progress-bar progress-transparent  bg-transparent" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">
      <div class="text-level">
        <p> Kind</p>
        <p> Scout </p>
        <p class= "text-small"> 0+ pts </p>
      </div>
    </div>

    <div class="progress-bar progress-transparent  <%= current_user.level < 25 ? "dimmed" : "bright"%>-bar" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>

    <div class="progress-bar progress-transparent  <%= current_user.level < 50 ? "dimmed" : "bright"%>-bar" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100">
      <div class="text-level">
        <p> Kind</p>
        <p> Explorer </p>
        <p class= "text-small"> 25+ pts </p>
      </div>
    </div>

    <div class="progress-bar progress-transparent  <%= current_user.level < 100 ? "dimmed" : "bright"%>-bar" role="progressbar" style="width: 31%" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100">
      <div class="text-level">
        <p> Kind</p>
        <p> Expert </p>
        <p class= "text-small"> 50+ pts </p>
      </div>
    </div>

    <div class="progress-bar progress-transparent  <%= current_user.level >= 100 ? "bright" : "dimmed"%>-bar" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
      <div class="text-level">
        <p> Kind</p>
        <p> Master </p>
        <p class= "text-small"> 100+ pts </p>
      </div>
    </div>

  </div>
</div>


<ul class="nav nav-tabs dashboard-tabs pt-3 mt-2" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link dashboard-tab active" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="projecct" aria-selected="true">Projects</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link dashboard-tab" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="project-tab">
    <%# Projects %>
    <div class="container">
      <h2 class="title ml-3"> My Project </h2>
      <% if @my_projects.empty? %>
      <p class="d-text" style="text-align: center;">You don't have projects yet!</p>
      <% end %>

      <div class="project-list">
        <div class="d-flex flex-wrap justify-content-center">
          <% @my_projects.each do |project| %>
            <%= link_to project_path(project), class: "text-dark text-decoration-none" do %>
              <div class="card-product mb-3 mt-3">
                <%= cl_image_tag project.photos.key, class: "card-product-img" %>
                <div class="card-product-infos">
                  <h2> <%= project.title %> </h2>
                  <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= project.location %> </p>
                  <p> <i class="fas fa-calendar-check" style="colot: #555255"></i> <%= project.start_date%> ~ <%= project.end_date%> </p>
                  <div class="project-status">
                    <% if project.volunteerings.size == 0 %>
                      <p> <i class="fas fa-users" style="color: #423D52" ></i> 0 </p>
                    <% else %>
                      <p> <i class="fas fa-users" style="color: #4C977B" ></i> <%= project.volunteerings.size %> <%= project.capacity ? "/ #{project.capacity}" : nil %> Confirmed </p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>



      <h2 class="title ml-3"> My Volunteering </h2>
      <% if @volunteer_projects.empty? %>
      <p class="d-text" style="text-align: center;">you haven't join a project</p>
      <% end %>
      <div class="project-list">
        <div class="d-flex flex-wrap justify-content-center">
          <% @volunteer_projects.each do |project| %>
            <%= link_to project_path(project), class: "text-dark text-decoration-none" do %>
              <div class="card-product">
                <%= cl_image_tag project.photos.key, class: "card-product-img" %>
                <div class="card-product-infos">
                  <h2> <%= project.title %> </h2>
                  <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= project.location %> </p>
                  <p> <i class="fas fa-calendar-check" style="colot: #555255"></i> <%= project.start_date%> ~ <%= project.end_date%> </p>
                  <div class="project-card-actions-dashboard">
                    <p class ="volunteer-status-<%= project.volunteerings.find_by(user: current_user).status %> font-weight-lighter">
                      <%= project.volunteerings.find_by(user: current_user).status %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <h2 class="title ml-3"> Wishlist </h2>

      <div class="project-list">
        <div class="d-flex flex-wrap justify-content-center">
          <% @favourited.each do |project| %>
            <%= link_to project, class: "text-dark text-decoration-none" do %>
              <div class="card-product mb-3">
                <%= cl_image_tag project.photos.key, class: "card-product-img" %>
                <div class="card-product-infos">
                  <h2> <%= project.title %> </h2>
                  <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= project.location %> </p>
                  <p> <i class="fas fa-calendar-check" style="colot: #555255"></i> <%= project.start_date%> ~ <%= project.end_date%> </p>
                  <div class="d-flex justify-content-between">
                    <div class="project-status">
                      <% if project.status == "open" %>
                        <p> <i class="fas fa-users" style="color: #4C977B"></i> <%= project.status %> </p>
                      <% else %>
                        <p> <i class="fas fa-users" style="color: #423D52"></i> <%= project.status %> </p>
                      <% end %>
                    </div>
                    <div class="my-fav">
                      <% if (current_user && !current_user.favorited?(project) || !user_signed_in?) %>
                        <%= link_to project_favourites_path(project), class: "fav-btn", method: :post do %>
                          <i class="far fa-heart"></i>
                        <% end %>
                      <% else %>
                        <%= link_to project_favourites_path(project), class: "fav-btn", method: :delete do %>
                          <i class="fas fa-heart" style="color: #CE326A"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
    <div class="container mb-2">
      <h2 class="title ml-3"> My Project </h2>
      <% if @my_past_projects.empty? %>
      <p class="d-text" style="text-align: center;">No History yet!</p>
      <% end %>
      <div class="project-list">
        <div class="d-flex flex-wrap justify-content-center">
          <% @my_past_projects.each do |project| %>
            <%= link_to project_path(project), class: "text-dark text-decoration-none" do%>
              <div class="card-product mb-3 mt-3">
                <%= cl_image_tag project.photos.key, class: "project-card-image-dashboard" %>
                <div class="card-product-infos">
                  <h2> <%= project.title %> </h2>
                  <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= project.location %> </p>
                  <p> <i class="fas fa-calendar-check" style="colot: #555255"></i> <%= project.start_date%> ~ <%= project.end_date%> </p>
                  <div class="project-status">
                    <% if  project.volunteerings.size == 0 %>
                      <p> <i class="fas fa-users" style="color: #423D52" ></i> 0 </p>
                    <% else %>
                      <p> <i class="fas fa-users" style="color: #4C977B" ></i> <%= project.volunteerings.size %> <%= project.capacity ? "/ #{project.capacity}" : nil %> Confirmed </p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container mb-2">
      <h2 class="title ml-3"> My Volunteering </h2>
      <% if @my_volunteer_past_projects.empty? %>
      <p class="d-text" style="text-align: center;">No History yet!</p>
      <% end %>
      <div class="project-list">
      <div class="d-flex flex-wrap justify-content-center">
        <% @my_volunteer_past_projects.each do |project| %>
          <%= link_to project_path(project), class: "text-dark text-decoration-none" do %>
            <div class="card-product mb-3 mt-3">
              <%= cl_image_tag project.photos.key, class: "card-product-img" %>
              <div class="card-product-infos">
                <h2> <%= project.title %> </h2>
                <p> <%= project.description.truncate(36) %> </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


  </div>
</div>

<%= render "shared/footer" %>
