<div class="profile-header">
  <div class="profile-avatar">
    <% if @user.avatar.attached?%>
      <%= cl_image_tag @user.avatar.key, height: 100, width: 100, crop: :fill %>
    <% else %>
      <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", size: "100", crop: :fill) %>
    <% end %>
  </div>
  <div class="name-edit">
    <h4><%= @user.first_name %> <%= @user.last_name %></h4>
    <%= link_to edit_user_registration_path(current_user), class: "edit-button-profile" do %>
      <i class = "fas fa-edit"></i>
    <% end %>
  </div>
</div>

<%# about me %>
<div class="profile-about-me">
  <h4>ABOUT ME</h4>
  <p><%= @user.about_me %></p>
</div>


<%# user summary %>
<div class="sumary-user">
  <div class="profile-numbers">
    <div class="profile-level">
      <h3>MY KINDER LEVEL</h3>
      <h3><%= @user.level %></h3>
    </div>
    <div class="profile-listed">
      <h4>TOTAL LISTED PROJECTS</h4>
      <h4><%= @total_listed_projects %></h4>
    </div>
    <div class="profile-volunteered">
      <h4>TOTAL JOINED PROJECTS</h4>
      <h4><%= @total_volunteered %></h4>
    </div>
  </div>
</div>
<br><br>
<%= link_to destroy_user_session_path, method: :delete, class: "exit-button-profile" do %>
  <p>Log out  <i class = "fas fa-sign-out-alt"></i></p>
<% end %>
