
<div class="mt-4">
  <div class="about-info">
    <div class="about-t d-flex justify-content-center">
      <h3 class="live mr-2 font-cursive" style="color: #4C977B"> Live </h3> <h3 class="about-text font-cursive mr-2"> together, </h3>
      <h3 class="grow mr-2 font-cursive" style="color: #F5A833"> Grow </h3> <h3 class="about-text font-cursive"> together </h3>
    </div>
    <div class="about-t d-flex justify-content-center">
      <h3 class="about-text font-cursive mr-2"> Spread </h3>
      <h3 class="about-text font-cursive mr-2"> Positive energy and </h3>
    </div>
    <div class="about-t d-flex justify-content-center">
      <h3 class="love font-cursive mr-2" style="color: #CE326A"> Love </h3>
      <h3 class="about-text font-cursive"> to the Community </h3>
    </div>
  </div>
</div>

<%# <%= image_tag "volunteer-01.jpeg", class: "about-img" %>


<div class="container">
  <div class="about-q mt-4"></div>
</div>

<div class="about-container-cards">

  <div class= "card-about">
    <div class= "card-about-image">
      <%= image_tag "step_1.png" %>
    </div>
    <div class= "card-about-content">
      <h4 class="about-text font-cursive mr-2"> List your vibe</h4>
      <p class= "text-small"> List a project that vibes with your passion!</p>
    </div>
  </div>


  <div class= "card-about">
    <div class= "card-about-image">
      <%= image_tag "step_2.png" %>
    </div>
    <div class= "card-about-content">
      <h4 class="about-text font-cursive mr-2">Find your tribe</h4>
      <p class= "text-small"> Get published on our app and let your tribe find you!</p>
    </div>
  </div>


  <div class= "card-about">
    <div class= "card-about-image">
      <%= image_tag "step_3.png" %>
    </div>
    <div class= "card-about-content">
      <h4 class="about-text font-cursive mr-2">Launch your project!</h4>
      <p class= "text-small"> Launch your project and spread love to the community! </p>
    </div>
  </div>

</div>


<div>
  <h4 class="info-text font-cursive">Some useful information</h4>
  <ol class= "mr-3px">
    <li class= "list"> You have to be physically present at project location during the duration of the project.</li>
    <li class= "list"> You can list one-off or ongoing projects (projects with no end date).</li>
    <li class= "list"> You will need to approve volunteers for your projects. </li>
    <li class= "list"> You the option to limit the capacity of volunteers for your project.</li>
    <li class= "list"> You will receive +10 pts for every project you successfully complete!</li>
  </ol>

  <div class="d-flex justify-content-center">
    <%= link_to "List my project", new_project_path, method: :get, class: "btn-pink m-3" %>
  </div>

</div>





<%= render "shared/footer" %>
