
<div class="mt-4">
  <div class="about-info">
    <div class="about-t d-flex justify-content-center">
      <h3 class="live mr-2 font-cursive" style="color: #4C977B"> Live </h3> <h3 class="about-text font-cursive mr-2"> together, </h3>
      <h3 class="grow mr-2 font-cursive" style="color: #F5A833"> Grow </h3> <h3 class="about-text font-cursive"> together </h3>
    </div>
    <div class="about-t d-flex justify-content-center">
      <h3 class="about-text font-cursive mr-2"> Spread </h3>
      <h3 class="about-text font-cursive mr-2"> Positive energy and </h3>
    </div>
    <div class="about-t d-flex justify-content-center">
      <h3 class="love font-cursive mr-2" style="color: #CE326A"> Love </h3>
      <h3 class="about-text font-cursive"> to the Community </h3>
    </div>
  </div>
</div>

<%# <%= image_tag "volunteer-01.jpeg", class: "about-img" %>


<div class="container">
  <div class="about-q mt-4"></div>
</div>

<div class="about-container-cards">

  <div class= "card-about">
    <div class= "card-about-image">
      <%= image_tag "step_1.png" %>
    </div>
    <div class= "card-about-content">
      <h4 class="about-text font-cursive mr-2"> List your vibe</h4>
      <p class= "text-small"> List a project that vibes with your passion!</p>
    </div>
  </div>


  <div class= "card-about">
    <div class= "card-about-image">
      <%= image_tag "step_2.png" %>
    </div>
    <div class= "card-about-content">
      <h4 class="about-text font-cursive mr-2">Find your tribe</h4>
      <p class= "text-small"> Get published on our app and let your tribe find you!</p>
    </div>
  </div>


  <div class= "card-about">
    <div class= "card-about-image">
      <%= image_tag "step_3.png" %>
    </div>
    <div class= "card-about-content">
      <h4 class="about-text font-cursive mr-2">Launch your project!</h4>
      <p class= "text-small"> Launch your project and spread love to the community! </p>
    </div>
  </div>

</div>

<div class="guide-container p-4">
  <table class="guide-table table-borderless">
    <thead>
      <tr>
        <th></th>
        <th> <h2 class="guide-title"> <i class="fas fa-check-circle"></i> Guidelines for Sponsors </h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="g-text align-baseline">1</th>
        <td> <p class="g-info mb-4"> Describe <strong>project details</strong>, especially <strong>skills</strong> required for your project. </p></td>
      </tr>
      <tr>
        <th class="g-text align-baseline">2</th>
        <td> <p class="g-info mb-4"> Set project <strong>goals and expectations</strong> clearly. </p></td>
      </tr>
      <tr>
        <th class="g-text align-baseline">3</th>
        <td> <p class="g-info mb-4"> <strong>Safety</strong> is important for all! Make sure to list measures
        being taken to mitigate risks due to COVID-19. Your volunteers should be
        aware of special equipment or clothing needed for the project. </p></td>
      </tr>
      <tr>
        <th class="g-text align-baseline">4</th>
        <td> <p class="g-info mb-4"> Projects must be in <strong>located in Bali, Indonesia</strong>.
        Projects outside of Bali will be removed. </p></td>
      </tr>
      <tr>
        <th class="g-text align-baseline">5</th>
        <td> <p class="g-info mb-4"> You will receive <strong>+10 points</strong> when your project is finished! </p></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "List my project", new_project_path, method: :get, class: "btn-pink mb-4" %>
</div>


<%= render "shared/footer" %>
