
<div class="search-bar">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Where is your tribe?" aria-label="Search">
  </form>
</div>



<div class="project-list">
  <div class="d-flex flex-wrap justify-content-center">
    <% @projects.each do |project| %>
      <br>
      <div class="card-product mb-3 mt-3">
        <%= cl_image_tag project.photos.key, class: "card-product-img" %>
        <div class="card-product-infos">
          <h2> <%= project.title %> </h2>
          <p> <i class="fas fa-map-marker-alt" style="color: #4C977B"></i> <%= project.location %> </p>
          <% if project.status == "open" %>
            <p> <i class="fas fa-users" style="color: #4C977B" ></i> <%= project.status %> </p>
          <% else %>
            <p> <i class="fas fa-users" style="color: #423D52" ></i> <%= project.status %> </p>
          <% end %>
          <div class="card-product-dt">
            <%= link_to "More info", project_path(project), class: "text-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
