<% if user_signed_in? %>
  <div class="navbar-top">
    <div class="navbar-top-info">
      <div class="navbar-top-back">
        <%# <p class="mb-0"> <i class="fas fa-chevron-left mr-1"></i> <%= link_to "Back", root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-top-dt">
        <div class="d-flex my-0 align-items-center">
          <div class="navbar-top-text">
            <p class="my-0"> <%= current_user.display_name %> </p>
            <p class="my-0"> <i class="fas fa-trophy", style="color: #F5A833"></i> <%= current_user.level %> </p>
          </div>
          <div class="navbar-top-avatar">
            <% if current_user.avatar.attached?%>
              <%= cl_image_tag current_user.avatar.key, class: "navbar-top-avatar-img" %>
            <% else %>
              <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "navbar-top-avatar-img") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="search-bar">
  <form class="form-inline" action="/projects">
    <input class="form-control mr-sm-2" type="search" name="query" placeholder="Where is your tribe?" aria-label="Search">
  </form>
</div>

<div class="search-guide">
  <% if @query.present? %>
    <p> You searched for "<strong><%= @query %></strong>" </p>
  <% else %>
    <p> What are you looking for? <strong>Search!</strong> </p>
  <% end %>
</div>

<div class="project-list">
  <div class="d-flex flex-wrap justify-content-center">
    <% @projects.each do |project| %>
      <%= link_to project, class: "text-dark text-decoration-none" do %>
        <div class="card-product mb-3 mt-3">
          <%= cl_image_tag project.photos.key, class: "card-product-img" %>
          <div class="card-product-infos">
            <h2> <%= project.title %> </h2>
            <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= project.location %> </p>
            <p> <i class="fas fa-calendar-check" style="colot: #555255"></i> <%= project.start_date%> ~ <%= project.end_date%> </p>
            <div class="d-flex justify-content-between">
              <div class="project-status">
                <% if project.status == "open" %>
                  <p> <i class="fas fa-users" style="color: #4C977B" ></i> <%= project.status %> </p>
                <% else %>
                  <p> <i class="fas fa-users" style="color: #423D52" ></i> <%= project.status %> </p>
                <% end %>
              </div>
              <div class="my-fav">
                <% if (current_user && !current_user.favorited?(project) || !user_signed_in?) %>
                  <%= link_to project_favourites_path(project), class: "fav-btn", method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to project_favourites_path(project), class: "fav-btn", method: :delete do %>
                    <i class="fas fa-heart" style="color: #CE326A"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
