<div class="container">
  <div class="form-headers-projects">
    <h1 class="p-title" style="text-align: center; font-family: 'Permanent Marker', cursive;">My project details</h1>
  </div>
  <div>
    <%= simple_form_for(@project) do |project| %>
      <div class="form-group">
        <label class="string optional">Display name</label>
        <input class="form-control string optional" type="text" value="<%=current_user.display_name%>" readonly disabled>
      </div>
      <%= project.input :contact, input_html: {placeholder: "e.g. +60 1234567!", class: "placeholder-tint"}%>
      <%= project.input :title, input_html: {placeholder: "Enter a title that can be easily searched!", class: "placeholder-tint"}%>
      <%= project.input :description, input_html: {placeholder: "Describe the nature and purpose of your project in minimum 65 characters", class: "placeholder-tint"}%>
      <%= project.input :location, input_html: {placeholder: "Location of project", class: "placeholder-tint"}%>
      <%= project.input :capacity, input_html: {placeholder: "Number of volunteers- if applicable", class: "placeholder-tint"}%>
      <%= project.input :start_date, html5: true %>
      <%= project.input :end_date, html5: true %>
      <%= project.input :start_time %>
      <%= project.input :end_time %>
      <%= project.input :instagram_link %>
      <%= project.input :facebook_link %>
      <%= project.input :website_link %>
      <%= project.input :linkedin_link %>
      <%= project.input :photos, input_html: { max: '1' } %>
      <div class="create-project-button">
        <%= project.submit class: "btn btn-outline-secondary mt-3 mb-4" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
