<% if user_signed_in? %>
  <div class="navbar-top">
    <div class="navbar-top-info">
      <div class="navbar-top-back">
        <p class="mb-0"> <i class="fas fa-chevron-left mr-1"></i> <%= link_to "Back", dashboard_path, class: "navbar-brand" %> </p>
      </div>
      <div class="navbar-top-dt">
        <div class="d-flex my-0 align-items-center">
          <div class="navbar-top-text">
            <p class="my-0"> <%= current_user.display_name %> </p>
            <p class="my-0"> <i class="fas fa-trophy", style="color: #F5A833"></i> <%= current_user.level %> </p>
          </div>
          <div class="navbar-top-avatar">
            <% if current_user.avatar.attached?%>
              <%= cl_image_tag current_user.avatar.key, class: "navbar-top-avatar-img" %>
            <% else %>
              <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "navbar-top-avatar-img") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="navbar-top">
    <div class="navbar-top-info">
      <div class="navbar-top-back">
        <p class="mb-0"> <i class="fas fa-chevron-left mr-1"></i> <%= link_to "List", projects_path, class: "navbar-brand" %> </p>
      </div>
    </div>
  </div>
<% end %>
<% if current_user == @project.user %>
  <%# Menu: DETAILS / VOLUNTEERS %>
  <ul class="nav nav-tabs dashboard-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link dashboard-tab active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link dashboard-tab" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Volunteers</a>
    </li>
  </ul>
<% end %>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%# Details %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <h2 class="p-show-t">
            <%= @project.title %>
          </h2>
        </div>
        <div class="col-12">
          <div class="project-pictures" style="background-image: url('<%= cl_image_path @project.photos.key %>')"></div>
        </div>
      </div>
    </div>

<div class="main-container pb-1">
  <div class="container mt-3">

    <div class= "d-flex w-100 justify-content-end">
      <div>
        <% if @project.user == current_user && @project.status != "cancelled" %>
        <%= link_to "Edit ", edit_project_path(@project), class: "text-secondary mr-2"%>
        <% end %>
      </div>

      <div>
        <% if @project.user == current_user && @project.status != "cancelled" %>
        <%= link_to "| Cancel", project_path(@project, project: {status: "cancelled"}), method: :patch,  class: "text-secondary mr-2"%>
        <% end %>
      </div>
    </div>

      <ul class="list-unstyled ml-2">
        <li>
          <p> <i class="fas fa-crown" style="color: #4C977B"></i> <%= @project.user.display_name %> </p>
        </li>
        <li>
          <p> <i class="fas fa-users" style="color: #4C977B"></i> <%= @project.volunteers.size %> / <%= @project.status %> </p>
        </li>
        <li>
          <p> <i class="fas fa-calendar-check" style="color: #4C977B"></i> <%= @project.start_date%> ~ <%= @project.end_date%> </p>
        </li>
        <li>
          <p> <i class="fas fa-map-marker-alt" style="color: #4C977B"></i> <%= @project.location %> </p>
        </li>
        <li>
          <p> <i class="fas fa-phone-square-alt" style="color: #4C977B"></i> <%= @project.contact %> </p>
        </li>
        <% if @project.website_link.present? %>
          <li>
            <p> <i class="fas fa-external-link-alt" style="color: #4C977B"></i> <%= @project.website_link %> </p>
          </li>
        <% end %>
      </ul>

      <p><%= @project.description.gsub(".", "") %>
      </div>
    </div>

    <% if current_user != @project.user && ((current_user && !Volunteering.find_by(user: current_user, project: @project)) || !user_signed_in?) %>
      <div class="join-container">
        <div class="d-flex justifu-content-center">
          <%# <button class="btn" id="share-project" data-title="<%= @project.title" data-description="<%= @project.description %>
          <%= link_to "Join", project_volunteerings_path(@project), method: :post, class: "btn btn-outline-secondary mr-2" %>
          <button class="btn btn-outline-primary" id="share-project" data-title="<%= @project.title %>" data-description="<%= @project.description %>">Share</button>
        </div>
      </div>
    <% elsif (current_user && Volunteering.find_by(user: current_user, project: @project)) %>
      <div class="d-flex justify-content-center">
        <%= link_to "Cancel", volunteering_path(Volunteering.find_by(user: current_user, project: @project)),method: :delete,  class: "btn btn-outline-secondary mr-2"%>
        <button class="btn btn-outline-primary" id="share-project" data-title="<%= @project.title %>" data-description="<%= @project.description %>">Share</button>
      </div>
    <% else %>
      <div class="d-flex justify-content-center">
        <button class="btn btn-outline-primary" id="share-project" data-title="<%= @project.title %>" data-description="<%= @project.description %>">Share</button>
      </div>
    <% end %>

    <%= render "shared/footer" %>

  </div>


<% if current_user == @project.user %>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%# Pending Volunteers %>
    <div class="container">
      <h2 class="title"> Pending volunteers </h2>

      <% if !@pending_volunteers.first[:volunteers].empty? %>
        <div class="project-list">
          <div class="d-flex flex-wrap justify-content-center">
            <% @pending_volunteers.each do |volunteer| %>
              <% if volunteer[:volunteers].length > 0 %>
                <% volunteer[:volunteers].each do |volunteering| %>
                  <% if volunteering.status = "pending" %>
                    <div class="card-product mb-1">
                      <% if volunteering.user.avatar.attached?%>
                        <%= cl_image_tag volunteering.user.avatar.key, class: "card-product-img" %>
                      <% else %>
                        <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "card-product-img") %>
                      <% end %>
                      <div class="card-product-infos">
                        <%= link_to users_path(volunteering.user.id, volunteering: volunteering.id), class: "text-dark text-decoration-none" do %>
                          <h2> <strong><%= volunteering.user.first_name %> <%= volunteering.user.last_name %></strong> </h2>
                          <p> <%= volunteer[:project].title %> </p>
                          <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= volunteer[:project].location %> </p>
                          <div class="project-card-actions-dashboard">
                            <% if volunteering.status == "pending" %>
                              <p class ="volunteer-status-pending font-weight-lighter"> <%= volunteering.status.capitalize %> </p>
                            <% end %>
                          </div>
                        <% end  %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <p class="s-text" style="text-align: center;">You don't have volunteers.</p>
      <% end %>
    </div>

    <%# Confirmed Volunteers %>
    <div class="container">
      <h2 class="title"> Confirmed volunteers </h2>
      <% if !@confirmed_volunteers.first[:volunteers].empty? %>
        <div class="project-list">
          <div class="d-flex flex-wrap justify-content-center">
            <% @confirmed_volunteers.each do |volunteer| %>
              <% if volunteer[:volunteers].length > 0 %>
                <% volunteer[:volunteers].each do |volunteering| %>
                  <% if volunteering.status = "confirmed" %>
                    <div class="card-product mb-1">
                      <% if volunteering.user.avatar.attached?%>
                        <%= cl_image_tag volunteering.user.avatar.key, class: "card-product-img" %>
                      <% else %>
                        <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "card-product-img") %>
                      <% end %>
                      <div class="card-product-infos">
                        <%= link_to users_path(volunteering.user.id, volunteering: volunteering.id), class: "text-dark text-decoration-none" do %>
                          <h2> <strong><%= volunteering.user.first_name %> <%= volunteering.user.last_name %></strong> </h2>
                        <% end  %>
                        <p><%= volunteer[:project].title %></p>
                        <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= volunteer[:project].location %> </p>
                        <div class="project-card-actions-dashboard">
                          <% if volunteering.status == "confirmed" %>
                            <p class ="volunteer-status-confirmed font-weight-lighter"> <%= volunteering.status.capitalize %> </p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else @volunteering.status = "pending" && @volunteering.status = "rejected" %>
        <p class="s-text" style="text-align: center;">You don't have confirmed volunteers.</p>
      <% end %>

    </div>
    <%# Rejected Volunteers %>
    <div class="container">
      <h2 class="title"> Rejected volunteers </h2>
      <% if !@rejected_volunteers.first[:volunteers].empty? %>
        <div class="project-list">
          <div class="d-flex flex-wrap justify-content-center">
            <% @rejected_volunteers.each do |volunteer| %>
              <% if volunteer[:volunteers].length > 0 %>
                <% volunteer[:volunteers].each do |volunteering| %>
                  <% if volunteering.status = "rejected" %>
                    <div class="card-product mb-1">
                      <% if volunteering.user.avatar.attached?%>
                        <%= cl_image_tag volunteering.user.avatar.key, class: "card-product-img" %>
                      <% else %>
                        <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "card-product-img") %>
                      <% end %>
                      <div class="card-product-infos">
                        <%= link_to users_path(volunteering.user.id, volunteering: volunteering.id), class: "text-dark text-decoration-none" do %>
                          <h2><%= volunteering.user.first_name %> <%= volunteering.user.last_name %></h2>
                        <% end  %>
                        <p><%= volunteer[:project].title %></p>
                        <p> <i class="fas fa-map-marker-alt" style="color: #ED462F"></i> <%= volunteer[:project].location %> </p>
                        <div class="project-card-actions-dashboard">
                          <% if volunteering.status == "rejected" %>
                            <p class ="volunteer-status-rejected font-weight-lighter"><%= volunteering.status.capitalize %></p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <p class="s-text" style="text-align: center;">You don't have rejected volunteers.</p>
      <% end %>

      <%= render "shared/footer" %>
    </div>
  </div>
  <% end %>
  </div>

</div>
