<% if user_signed_in? %>
  <div class="navbar-top">
    <div class="navbar-top-info">
      <div class="navbar-top-back">
        <p class="mb-0"> <i class="fas fa-chevron-left mr-1"></i> <%= link_to "Back", dashboard_path, class: "navbar-brand" %> </p>
      </div>
      <div class="navbar-top-dt">
        <div class="d-flex my-0 align-items-center">
          <div class="navbar-top-text">
            <p class="my-0"> <%= current_user.display_name %> </p>
            <p class="my-0"> <i class="fas fa-trophy", style="color: #F5A833"></i> <%= current_user.level %> </p>
          </div>
          <div class="navbar-top-avatar">
            <% if current_user.avatar.attached?%>
              <%= cl_image_tag current_user.avatar.key, class: "navbar-top-avatar-img" %>
            <% else %>
              <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "navbar-top-avatar-img") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="navbar-top">
    <div class="navbar-top-info">
      <div class="navbar-top-back">
        <p class="mb-0"> <i class="fas fa-chevron-left mr-1"></i> <%= link_to "List", projects_path, class: "navbar-brand" %> </p>
      </div>
    </div>
  </div>
<% end %>
<% if current_user == @project.user %>
  <%# Menu: DETAILS / VOLUNTEERS %>
  <ul class="nav nav-tabs dashboard-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link dashboard-tab active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link dashboard-tab" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Volunteers</a>
    </li>
  </ul>
<% end %>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%# Details %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12"><h2><%= @project.title %></h2></div>
          <div class="col-12">
            <div class="project-pictures" style="background-image: url('<%= cl_image_path @project.photos.key %>')"></div>
          </div>
      </div>
    </div>

<div class="main-container pb-1">
  <div class="container mt-5 mb-2">

    <div class= "d-flex w-100 justify-content-between my-3">
      <div>
        <% if @project.user == current_user && @project.status != "cancelled" %>
        <%= link_to "Edit project", edit_project_path(@project), class: "btn btn-secondary mr-2"%>
        <% end %>
      </div>

      <div>
        <% if @project.user == current_user && @project.status != "cancelled" %>
        <%= link_to "Cancel project", project_path(@project, project: {status: "cancelled"}), method: :patch,  class: "btn btn-secondary"%>
        <% end %>
      </div>
    </div>

    <ul class="list-unstyled">
      <li>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.99166 1.66666C5.39166 1.66666 1.65833 5.39999 1.65833 9.99999C1.65833 14.6 5.39166 18.3333 9.99166 18.3333C14.5917 18.3333 18.325 14.6 18.325 9.99999C18.325 5.39999 14.5917 1.66666 9.99166 1.66666ZM13 6.94999C13.8917 6.94999 14.6083 7.66666 14.6083 8.55832C14.6083 9.44999 13.8917 10.1667 13 10.1667C12.1083 10.1667 11.3917 9.44999 11.3917 8.55832C11.3833 7.66666 12.1083 6.94999 13 6.94999ZM7.99999 5.63332C9.08333 5.63332 9.96666 6.51666 9.96666 7.59999C9.96666 8.68332 9.08333 9.56666 7.99999 9.56666C6.91666 9.56666 6.03333 8.68332 6.03333 7.59999C6.03333 6.50832 6.90833 5.63332 7.99999 5.63332ZM7.99999 13.2417V16.3667C5.99999 15.7417 4.41666 14.2 3.71666 12.2333C4.59166 11.3 6.77499 10.825 7.99999 10.825C8.44166 10.825 8.99999 10.8917 9.58333 11.0083C8.21666 11.7333 7.99999 12.6917 7.99999 13.2417ZM9.99166 16.6667C9.76666 16.6667 9.54999 16.6583 9.33332 16.6333V13.2417C9.33332 12.0583 11.7833 11.4667 13 11.4667C13.8917 11.4667 15.4333 11.7917 16.2 12.425C15.225 14.9 12.8167 16.6667 9.99166 16.6667Z" fill="#4C977B"/>
        </svg>
        <%= @project.status %>
      </li>
      <li>
        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 4C12 1.79 10.21 0 8 0C5.79 0 4 1.79 4 4C4 6.21 5.79 8 8 8C10.21 8 12 6.21 12 4ZM14 6V8H17V11H19V8H22V6H19V3H17V6H14ZM0 14V16H16V14C16 11.34 10.67 10 8 10C5.33 10 0 11.34 0 14Z" fill="#4C977B"/>
        </svg>
        <%= @project.user.display_name %>
      </li>
      <li>
        <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="#4C977B" d="M13 6C13 2.69 10.31 0 7 0C3.69 0 1 2.69 1 6C1 10.5 7 17 7 17C7 17 13 10.5 13 6ZM5 6C5 4.9 5.9 4 7 4C8.1 4 9 4.9 9 6C9 7.1 8.11 8 7 8C5.9 8 5 7.1 5 6ZM0 18V20H14V18H0Z"/>
        </svg>

            <%= @project.location %>
          </li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.99154 1.66669C5.39154 1.66669 1.6582 5.40002 1.6582 10C1.6582 14.6 5.39154 18.3334 9.99154 18.3334C14.5915 18.3334 18.3249 14.6 18.3249 10C18.3249 5.40002 14.5915 1.66669 9.99154 1.66669ZM12.9999 6.95002C13.8915 6.95002 14.6082 7.66669 14.6082 8.55835C14.6082 9.45002 13.8915 10.1667 12.9999 10.1667C12.1082 10.1667 11.3915 9.45002 11.3915 8.55835C11.3832 7.66669 12.1082 6.95002 12.9999 6.95002ZM7.99987 5.63335C9.0832 5.63335 9.96654 6.51669 9.96654 7.60002C9.96654 8.68335 9.0832 9.56669 7.99987 9.56669C6.91654 9.56669 6.0332 8.68335 6.0332 7.60002C6.0332 6.50835 6.9082 5.63335 7.99987 5.63335ZM7.99987 13.2417V16.3667C5.99987 15.7417 4.41654 14.2 3.71654 12.2334C4.59154 11.3 6.77487 10.825 7.99987 10.825C8.44154 10.825 8.99987 10.8917 9.5832 11.0084C8.21654 11.7334 7.99987 12.6917 7.99987 13.2417ZM9.99154 16.6667C9.76654 16.6667 9.54987 16.6584 9.3332 16.6334V13.2417C9.3332 12.0584 11.7832 11.4667 12.9999 11.4667C13.8915 11.4667 15.4332 11.7917 16.1999 12.425C15.2249 14.9 12.8165 16.6667 9.99154 16.6667Z" fill="#4C977B"/>
            </svg>
            <%= @project.volunteers.size %></li>

          <li>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.6667 10.9167C13.625 10.9167 12.625 10.75 11.6917 10.4417C11.4 10.35 11.075 10.4167 10.8417 10.6417L9.00833 12.475C6.65 11.275 4.71667 9.35 3.51667 6.98333L5.35 5.14167C5.58333 4.925 5.65 4.6 5.55833 4.30833C5.25 3.375 5.08333 2.375 5.08333 1.33333C5.08333 0.875 4.70833 0.5 4.25 0.5H1.33333C0.875 0.5 0.5 0.875 0.5 1.33333C0.5 9.15833 6.84167 15.5 14.6667 15.5C15.125 15.5 15.5 15.125 15.5 14.6667V11.75C15.5 11.2917 15.125 10.9167 14.6667 10.9167ZM15.5 3H13V0.5H11.3333V3H8.83333V4.66667H11.3333V7.16667H13V4.66667H15.5V3Z" fill="#4C977B"/>
            </svg>
            <%= @project.contact %></li>
          <li>
            <i class="fas fa-globe-americas" style="color: #4C977B"></i>
            <%= @project.website_link || "No website" %>
          </li>
        </ul>
        <div class="flat-card-title"><h4>About <%= @project.title %> </h4></div>
        <p><%= @project.description.gsub(".", "") %>
      </div>
    </div>

    <% if current_user != @project.user && ((current_user && !@project.volunteers.find(current_user.id)) || !user_signed_in?) %>
      <div class="edit-btn d-flex justify-content-center mt-3 p-4">

        <%= link_to "I'm interested!", project_volunteerings_path(@project), method: :post, class: "btn btn-secondary mr-2" %>
      <% elsif (current_user && Volunteering.find_by(user: current_user, project: @project)) %>
        <<%= link_to "Cancel", volunteering_path(Volunteering.find_by(user: current_user, project: @project)),method: :delete,  class: "btn btn-secondary mr-2"%>
      </div>
    <% end %>
<%# </div>  if the user already "interested" the button
      <h2 class="title mb-2"> My Project </h2>
      <% if @my_past_projects.empty? %>
      <%# <p>You don't have any project yet!</p>become cancel%>
  <%# <%= link_to "Edit project", edit_project_path(@project), class: "btn btn-secondary mr-2"%>

    <%= render "shared/footer" %>

  </div>


<% if current_user == @project.user %>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%# Pending Volunteers %>
    <div class="container mb-5">
      <h2 class="title mb-2"> Pending actions </h2>
      <% if @my_volunteers.empty? %>
      <p>You don't have any pending applications to confirm.</p>
      <% end %>
      <div class="row">
        <% @my_volunteers.each do |volunteer| %>
          <% if volunteer[:volunteers].length > 0 %>
            <% volunteer[:volunteers].each do |volunteering| %>
              <% if volunteering.status = "pending" %>
                <div class="col-12">
                  <div class="my-project-card-dashboard">
                    <% if volunteering.user.avatar.attached?%>
                      <%= cl_image_tag volunteering.user.avatar.key, class: "project-card-image-dashboard" %>
                    <% else %>
                      <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "project-card-image-dashboard") %>
                    <% end %>
                    <div class="project-card-info-dashboard">
                      <%= link_to users_path(volunteering.user.id, volunteering: volunteering.id), class: "text-dark text-decoration-none" do %>
                        <h2><%= volunteering.user.first_name %> <%= volunteering.user.last_name %></h2>
                      <% end  %>
                      <p><%= volunteer[:project].title %></p>
                      <div class="project-card-actions-dashboard">
                        <p>
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 1.66663C6.50004 1.66663 3.33337 4.34996 3.33337 8.49996C3.33337 11.2666 5.55837 14.5416 10 18.3333C14.4417 14.5416 16.6667 11.2666 16.6667 8.49996C16.6667 4.34996 13.5 1.66663 10 1.66663ZM10 9.99996C9.08337 9.99996 8.33337 9.24996 8.33337 8.33329C8.33337 7.41663 9.08337 6.66663 10 6.66663C10.9167 6.66663 11.6667 7.41663 11.6667 8.33329C11.6667 9.24996 10.9167 9.99996 10 9.99996Z" fill="#4C977B"/>
                          </svg>
                          <%= volunteer[:project].location.truncate(20) %>
                        </p>
                        <% if volunteering.status == "pending" %>
                          <p class ="volunteer-status-pending font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% elsif volunteering.status == "confirmed" %>
                          <p class ="volunteer-status-confirmed font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% else %>
                          <p class ="volunteer-status-rejected font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# Confirmed Volunteers %>
    <div class="container mb-5">
      <h2 class="title mb-2"> Confirmed volunteers </h2>
      <% if @my_volunteers.empty? %>
      <p>You don't have any confirmed applicationss.</p>
      <% end %>
      <div class="row">
        <% @my_volunteers.each do |volunteer| %>
          <% if volunteer[:volunteers].length > 0 %>
            <% volunteer[:volunteers].each do |volunteering| %>
              <% if volunteering.status = "confirmed" %>
                <div class="col-12">
                  <div class="my-project-card-dashboard">
                    <% if volunteering.user.avatar.attached?%>
                      <%= cl_image_tag volunteering.user.avatar.key, class: "project-card-image-dashboard" %>
                    <% else %>
                      <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "project-card-image-dashboard") %>
                    <% end %>
                    <div class="project-card-info-dashboard">
                      <%= link_to users_path(volunteering.user.id, volunteering: volunteering.id), class: "text-dark text-decoration-none" do %>
                        <h2><%= volunteering.user.first_name %> <%= volunteering.user.last_name %></h2>
                      <% end  %>
                      <p><%= volunteer[:project].title %></p>
                      <div class="project-card-actions-dashboard">
                        <p>
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 1.66663C6.50004 1.66663 3.33337 4.34996 3.33337 8.49996C3.33337 11.2666 5.55837 14.5416 10 18.3333C14.4417 14.5416 16.6667 11.2666 16.6667 8.49996C16.6667 4.34996 13.5 1.66663 10 1.66663ZM10 9.99996C9.08337 9.99996 8.33337 9.24996 8.33337 8.33329C8.33337 7.41663 9.08337 6.66663 10 6.66663C10.9167 6.66663 11.6667 7.41663 11.6667 8.33329C11.6667 9.24996 10.9167 9.99996 10 9.99996Z" fill="#4C977B"/>
                          </svg>
                          <%= volunteer[:project].location.truncate(20) %>
                        </p>
                        <% if volunteering.status == "pending" %>
                          <p class ="volunteer-status-pending font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% elsif volunteering.status == "confirmed" %>
                          <p class ="volunteer-status-confirmed font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% else %>
                          <p class ="volunteer-status-rejected font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# Rejected Volunteers %>
    <div class="container mb-5">
      <h2 class="title mb-2"> Rejected volunteers </h2>
      <% if @my_volunteers.empty? %>
      <p>You don't have any rejected applicationss.</p>
      <% end %>
      <div class="row">
        <% @my_volunteers.each do |volunteer| %>
          <% if volunteer[:volunteers].length > 0 %>
            <% volunteer[:volunteers].each do |volunteering| %>
              <% if volunteering.status = "rejected" %>
                <div class="col-12">
                  <div class="my-project-card-dashboard">
                    <% if volunteering.user.avatar.attached?%>
                      <%= cl_image_tag volunteering.user.avatar.key, class: "project-card-image-dashboard" %>
                    <% else %>
                      <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg", class: "project-card-image-dashboard") %>
                    <% end %>
                    <div class="project-card-info-dashboard">
                      <%= link_to users_path(volunteering.user.id, volunteering: volunteering.id), class: "text-dark text-decoration-none" do %>
                        <h2><%= volunteering.user.first_name %> <%= volunteering.user.last_name %></h2>
                      <% end  %>
                      <p><%= volunteer[:project].title %></p>
                      <div class="project-card-actions-dashboard">
                        <p>
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 1.66663C6.50004 1.66663 3.33337 4.34996 3.33337 8.49996C3.33337 11.2666 5.55837 14.5416 10 18.3333C14.4417 14.5416 16.6667 11.2666 16.6667 8.49996C16.6667 4.34996 13.5 1.66663 10 1.66663ZM10 9.99996C9.08337 9.99996 8.33337 9.24996 8.33337 8.33329C8.33337 7.41663 9.08337 6.66663 10 6.66663C10.9167 6.66663 11.6667 7.41663 11.6667 8.33329C11.6667 9.24996 10.9167 9.99996 10 9.99996Z" fill="#4C977B"/>
                          </svg>
                          <%= volunteer[:project].location.truncate(20) %>
                        </p>
                        <% if volunteering.status == "pending" %>
                          <p class ="volunteer-status-pending font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% elsif volunteering.status == "confirmed" %>
                          <p class ="volunteer-status-confirmed font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% else %>
                          <p class ="volunteer-status-rejected font-weight-lighter">
                          <%= volunteering.status.capitalize %>
                          </p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>
